.super-mario {
    width: 350px;
    position: absolute;
}

.goomba {
    width: 250px;
    position: absolute;
    top: 550px;
    left: 200px;
}

.bowser {
    width: 350px;
    position: absolute;
    left: 700px;
    top: 550px;
}

.baloon {
    width: 300px;
    position: absolute;
    top: 360px;
    left: 500px;
    z-index: 0;
}

p {
    font-size: larger;
    position: absolute;
    top: 410px;
    left: 550px;
    z-index: 1;
}